RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www.)?works.callback.top$
RewriteCond %{REQUEST_URI} !^/rwdpage/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /rwdpage/$1
RewriteCond %{HTTP_HOST} ^(www.)?works.callback.top$
RewriteRule ^(/)?$ rwdpage/index.html [L]



