<?php
switch ($_SERVER["HTTP_HOST"])
{
 case "works.callback.top": header("location:rwdpage/");
 break;
 case "b.test.cn": header("location:b/");
 break;
 case "c.test.cn": header("location:c/");
 break;
}
?>



